.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);  
    text-align: center;
    padding: 0 30px 0 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 15000;
    border-radius: 1rem;
    border: 3px solid #008037;
    font-family: 'Rubik Gemstones', cursive;
}
.open-popup  {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 17rem;
}
.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.lolel {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);  
    text-align: center;
    padding: 0 30px 0 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 15000;
    border-radius: 1rem;
    border: 3px solid #008037;
    font-family: 'Rubik Gemstones', cursive;
}
.open-lolel  {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 17rem;
    
}
.lolel button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik Gemstones', cursive;
}

.totit {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);  
    text-align: center;
    padding: 0 30px 0 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 15000;
    border-radius: 1rem;
    border: 3px solid #008037;
    font-family: 'Rubik Gemstones', cursive;
}
.open-totit  {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 17rem;
}
.totit button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.bebib {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);  
    text-align: center;
    padding: 0 30px 0 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 15000;
    border-radius: 1rem;
    border: 3px solid #008037;font-family: 'Rubik Gemstones', cursive;
}
.open-bebib  {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 17rem;
}
.bebib button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik Gemstones', cursive;
}